
body {
	background-color:	#004422;
	color: 				#ffffff;
  	font-size:          12pt;
  	font-family:        century gothic, verdana, tahoma, arial, sans-serif;
}

#allcontent {
	margin:				0 auto;
	text-align: 		left;
	width: 				650px;
}

li {
	display:			inline;	
	color:				white;
}
 a {
	color: 				white;
	display: 			inline-block;
	padding: 			5px;
	text-decoration: 	none;
}

#linkBlock {
	position: 			absolute;
	z-index: 			-1;
	top: 				0;
	background-color: 	#771122;
	height:				28px;
	width:				0px;
}

#alternatingPics {
	height:				100px;
	width:				300px;
	position:			relative;
}

#alternatingPics .otherPic {
	display:			none;
	left:				0;
	position:			absolute;
}

h2 {
	margin:				10px;
	padding:			5px;
	width:				300px;
	text-align:			center;
	background-color: 	yellow;
	color:				orange;
}

p {
	padding: 			5px;
}

table {
	border-collapse:	collapse;
	border-top:			2px solid yellow;
	margin:				20px;
	width:				550px;
	font-size:			12px;
}

th {
	border-bottom: 		2px solid yellow;
	text-align: 		left;
	padding: 			4px 7px;
	color: 				#E05500;
	font-size: 			14px;
	font-weight: 		normal;
}

td {
	padding: 			5px;
}
